out
.idea/
node_modules
.vscode-test/
*.vsix
.vscode/
src/DokiThemeDefinitions.ts
src/ChangelogHtml.ts
generatedThemes/*.json
screenshots/
!misc/am-i-online.txt
!misc/am-i-online.txt.checksum.txt
!misc/update_celebration.gif
!misc/update_celebration.gif.checksum.txt
misc/
.DS_Store*
